body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.app .navbar img{
    width: 150px;
    height: 50px;
  }

.app .navbar {
    background:linear-gradient(to right, rgb(255, 255, 255) 25%, rgb(243 243 243));
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
  }

.b-bottom{
    border-bottom: 1px solid  #dee2e6;
  }
  
.section-item{
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    margin: 10px 0;
  }

.item-list.even{
    background-color:#ececec;
  }

.align-center{
    text-align: center;
  }

td.align-center{
    cursor: pointer;
  }

td.align-center i{
    font-size: 18px;
  }

 td.align-center i:hover{
    color: #0d6efd;
  }

  /* _____________________tabs */
.tabs.section-item {
    border: none;
}

.nav-item {
    margin: 0px 10px;
}

.nav-item .nav-link{
  border: 1px solid  #dee2e6;
  color: grey;
  cursor: pointer;
}

.nav-item .nav-link.active{
  border-color:blue;
  color: white;
}

.nav-item .nav-link.active:hover{
  color: white;
}

.nav-item .nav-link:hover{
  color: blue;
}

/* ___________________details page */

.details-page .card-header>i,
.accordion-button>i{
  padding-right: 10px;
}
